 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    
     <script src="component/todo.js"></script>

 </head>
 <body>

        <div id="todo-list-example">
                <form v-on:submit.prevent="addNewTodo">
                  <label for="new-todo">Add a todo</label>
                  <input
                    v-model="newTodoText"
                    id="new-todo"
                    placeholder="E.g. Feed the cat"
                  ><input
                  v-model="newTodoMore"
                  id="new-todo"
                  placeholder="E.g. Feed the cat"
                >
                <input v-model="newname"id="name" placeholder="name">
                <input v-model="newemail"id="email" placeholder="email">
                <input v-model="newbirthDate"id="birthDate" placeholder="birthDate">
                <input v-model="newaddress"id="address" placeholder="address">
                <input v-model="newstreet"id="street" placeholder="street">
                <input v-model="newstate"id="state" placeholder="state">
                <input v-model="newcity"id="city" placeholder="city">
                <input v-model="newcountry"id="country" placeholder="country">
                <input v-model="newzip"id="zip" placeholder="zip">
                  <button>Add</button>
                </form>
                <ul>
                  <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-bind:more="todo.more"
                    v-bind:name="todo.name"
                    v-bind:email="todo.email"
                    v-bind:birthDate="todo.birthDate"
                    v-bind:address="todo.address"
                    v-bind:street="todo.street"
                    v-bind:state="todo.state"
                    v-bind:city="todo.city"
                    v-bind:country="todo.country"
                    v-bind:zip="todo.zip"
                    v-on:remove="todos.splice(index, 1)"
                  ></li>
                </ul>
              </div>



    <script>
        
  new Vue({
    el: '#todo-list-example',
    data: {
      newTodoText: '',
      newTodoMore: '',
      newname: "",
      newemail: "",
      newbirthDate: "",
      newaddress: "",
      newstreet: "",
      newstate: "",
      newcity: "",
      newcountry: "",
      newzip: "",
      todos: [
        {
          id: 1,
          title: 'Do the dishes',
          more: 'this is more',
        },
        {
          id: 2,
          title: 'Take out the trash',
          more: 'hola 2'
        },
        {
          id: 3,
          title: 'Mow the lawn',

          more: 'hola3'
        }
      ],
      nextTodoId: 4
    },
    methods: {
      addNewTodo: function () {
        this.todos.push({
          id: this.nextTodoId++,
          title: this.newTodoText,
          more: this.newTodoMore,
          name: this.newname,
          email: this.newemail,
          birthDate: this.newbirthDate,
          address: this.newaddress,
          street: this.newstreet,
          state: this.newstate,
          city: this.newcity,
          country: this.newcountry,
          zip: this.newzip,
        });

        let currentObj = this;
        axios.post('https://my-json-server.typicode.com/raveBolognesa/vueTest/tall', this.todos)
                .then(function (response) {
                    currentObj.output = response.data;
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
        this.newTodoMore= '',
        this.newTodoText = '',
        this.newname = "",
        this.newemail = "",
        this.newbirthDate = "",
        this.newaddress = "",
        this.newstreet = "",
        this.newstate = "",
        this.newcity = "",
        this.newcountry = "",
        this.newzip = ""
      }
    }
  })
  </script>
   
    
     
 </body>
 </html>